- model_class = Membership.new.class
%h1=t '.title', :default => "My Groups"
- @memberships.each do |membership|
  .membership
    %h3=membership.group.name
    =link_to "View", group_path(membership.group)